.todo-input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  &__button {
    background-color: #04aa6d;
    border: none;
    color: white;

    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
  }
  &__input {
    padding: 3px;
  }
}
